[req]
prompt = no
distinguished_name = dn
req_extensions = v3_req

[dn]
CN = udacity.com
emailAddress = webmaster@noemail.com
C = US
ST = CA
L = San Francisco
O = Udacity
OU = Workspace

[v3_req]
subjectAltName = DNS:*.udacity.com,DNS:udacity.com
